
.container {
  display: flex;
  justify-content: space-around;
  background-color: dimgray;
  min-height: 100vh;

  .title {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
  }
}

.button {
  display: block;
}

