.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .title{
    font-size: 50px;
    padding: 20px 0;
    text-align: center;
  }

  .row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .col {

  }
}