.container {
  width: 100%;
  background-color: coral;
  padding-bottom: 50px;

  .title{
    font-size: 50px;
    padding: 20px 0;
    text-align: center;
  }

  .wrapper {
    padding: 0 50px;
    color: black;
  }
}

@media screen and (max-width:479px) {
  .container {
    width: 100%;

    .title{
      font-size: 50px;
      padding: 20px 0;
      text-align: center;
    }

    .wrapper {
      padding: 0 ;
    }
  }
}
