
body {
  margin: 0;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(95,75,139);
  padding-bottom: 8px;


  .title {
    font-size: 50px;
    padding: 15px 0;
    text-align: center;
    color: aliceblue;
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a:hover{

    }

  }

  .col {
    width: 22%;
  }
}


